body {
  background-color: #529f46;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#background {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 1mm;
}

.upload-section {
  margin-top: 1mm;
}

.upload-buttons {
  text-align: center;
  margin-top: 1mm;
}

.upload-button {
  margin-top: 1mm;
  background-color: yellow;
  color: white;
  font-weight: bold;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
